@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Grand+Hotel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100%;
}

.container { /* Assuming the parent of gender-selection-section */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure it takes the full height of the viewport */
    width: 100%;
}
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(249, 184, 190, 0.25) 0%, rgba(249, 184, 190, 0.25) 100%);
    border-radius: 0 45px 45px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 48px;
    font-family: 'Grand Hotel', sans-serif;
    color: #2E3B3E;
    margin: 15px 0 75px 0;
    /* padding: 0 15px 0 15px; */
    padding: 20px;
}

.sidebar .nav-link {
    font-weight: 400;
    font-size: 20px;
    transition: all 0.3s;
    border-radius: 30px;
    padding: 45px;
    
}

.sidebar .nav-link:hover {
    background-color: rgba(249, 184, 190, 0.4);
    color: rgba(46, 59, 62, 0.8);
}

/* ChatBox CSS */

.chatarea, .rizzarea {
    margin-left: 275px;
    margin-right: 25px;
    height: 96vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 45px;
    background-color: #f5f5f5;
    position: relative; /* Ensure relative positioning */
    /* overflow: hidden; Prevent content from overflowing */
  }
  
  .chatarea .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: cover; /* Inherit background image from parent */
    filter: blur(150px) brightness(1.2); /* Apply the blur effect */
   
  }
  
  .chatarea .chat-input, .chatarea .chat-messages {
    position: relative; /* Ensure content is above blurred background */
    z-index: 1; /* Keep content above the blurred background */
  }
  

/* General container for the chat screen */
#chat-screen {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%; /* Full viewport height */
    background-color: #f5f5f5;
    border-radius: 15px;
}

/* Header */
#chat-screen h3 {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    color: #2E3B3E;
    margin-bottom: 15px;
}

/* Chat messages container */
.chat-messages {
    padding-top: 25px;
}

/* Individual message styles */
.message {
    display: table;
    max-width: 70%;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 20px;
    word-wrap: break-word;
    animation: fadeInUp 0.4s ease forwards; /* Animation for messages */
    opacity: 0;
    transform: translateY(20px); /* Start below */
}

.bot-message {
    background-color: rgba(108, 117, 125, 0.8); /* Neutral bot message */
    color: white;
    align-self: flex-start; /* Align left */
    margin-right: auto;
    border-radius: 0 15px 15px 15px;
}

.user-message {
    background-color: rgb(252, 78, 173); /* Bright user message */
    color: white;
    align-self: flex-end; /* Align right */
    margin-left: auto;
    border-radius: 15px 0 15px 15px;
}

/* Chat input area */
.chat-input {
    align-items: center;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 10px;
}

.chat-input button {
    width: 64px;
    height: 32px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input button i{
    font-size: x-large;
    color: rgb(108, 117, 125);
}

.chat-input button i:hover{
    color: rgb(252, 78, 173);
    filter: opacity(0.75)
}

.send-text {
    background-color: rgb(255, 0, 140); /* Bright pink send button */
}

.send-text:hover {
    background-color: rgba(255, 0, 140, 0.7);
}

.end-convo {
    background-color: #ff4d4d; /* Red for ending conversation */
    margin-right: 10px;
}

.end-convo:hover {
    background-color: rgba(255, 77, 77, 0.7);
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    #chat-screen {
        padding: 15px;
    }

    .chat-input input {
        margin-right: 5px;
    }

    .chat-input button {
        padding: 8px;
    }

    .send-text, .end-convo {
        width: auto;
        font-size: 14px;
        padding: 8px 10px;
    }
}



/* Rizz Area */
.rizzarea {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* min-height: 60vh; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns children at the start */
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    position: relative;
  }
  
  /* Heading Styling */
  .rizzarea h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
/* Styling for the Gender Selection Section */
.gender-selection-section {
    background-color: #e9ecef; /* Light background to separate it visually */
    border-radius: 22.5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 1rem; /* Padding inside the div */
    margin-bottom: 1rem; /* Space below the section */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    width: 100%; /* Ensure it takes the full width of its parent */
    box-sizing: border-box; /* Include padding in width/height calculations */
    min-height: 20vh; /* Ensure a minimum height */
    justify-content: center; /* Center content vertically */
}


  
  /* Button Group Styling */
  .button-group-gender {
    display: flex;
    justify-content: center;
    gap: 1.5rem; /* Space between the buttons */
    margin-bottom: 1rem;
  }
  
  /* Styling for Buttons */
  .equal-width-button-gender {
    width: 192px; /* Adjusted to be a square */
    height: 256px; /* Equal height to width */
    filter: brightness(0.6);
    font-size: 1.5rem;
    border-radius: 22.5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns text to the bottom */
    align-items: center; /* Centers text horizontally */
    padding: 0; /* Remove padding to ensure text is at the bottom */
    overflow: hidden;
  }

  .equal-width-button-gender span{
    margin-bottom: 5px;
    background-color: #777;
    padding: 5px;
    font-size: medium;
    font-weight: 600;
    border-radius: 45px;
  }
  
  /* Specific Button Backgrounds */
  #maleRizzler {
    background-image: url("../images/senorizzta_male.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  #femaleRizzler {
    background-image: url("../images/senorizzta_female.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Hover Effects */
  #maleRizzler:hover, #femaleRizzler:hover {
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    filter: grayscale(50%) brightness(80%) contrast(90%);
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

.rizzarea h3 {
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
    color: #2E3B3E;
}

.generated-text {
    width: 80%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 22.5px;
}

.generated-text p {
    color: #777;
    font-style: italic;
    border-radius: 22.5px;
}

.button-group .btn {
    width: 10rem;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s ease;
}

.button-group .btn:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */

}

.equal-width-button {
    width: 150px; /* Ensures equal width for all buttons */
    text-align: center; /* Centers the text within the button */
}

.equal-width-button-gender {
    min-width: 120px;
    margin: 0 5px;
  }

  .active {
    filter: brightness(0.95); /* Dim the brightness */
    transform: scale(1.01); /* Slightly shrink */
  }

#generateButton {
    background-color: rgba(255, 0, 140, 0.6);
    border-color: rgba(255, 0, 140, 0.6);
    color: #fff;
}

#generateButton:hover{
    background-color: rgba(255, 0, 140, 0.9);
    border-color: rgba(255, 0, 140, 0.9);
    color: #fff;
}


#copyButton {
    background-color: #28a745;
    border: #1e7e34;
    color: #fff;
}

#copyButton:hover {
    background-color: #1e7e34;
}

/* Gender Selection Screen */
#gender-selection-screen{
    margin: 0;
    padding: 0;
    font-size: large;
    align-items: center;
    justify-content: center;
    border: 0px;
    position: relative;
    z-index: 1;
}

#male_gendersel{
    background-image: url("../images/senorizzta_male.jpeg");
    filter: brightness(0.6);
}

#female_gendersel{
    background-image: url("../images/senorizzta_female.jpeg");
    filter: brightness(0.6);
}
#boeing_gendersel{
    background-image: url("../images/senorizzta_boeing.jpeg");
    filter: brightness(0.6);
}

#male_gendersel:hover, #female_gendersel:hover, #boeing_gendersel:hover{
    filter: brightness(1.0);
}

.chatbot-gender-select{
    padding: 15px;
}

.chatbot-gender-select button{
    width: 160px;
    height: 512px;
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    justify-content: flex-end;
    border: none;
    transition: all 0.4s ease-in-out;
}

.chatbot-gender-select button div{
    padding: 10px;
    margin-bottom: 20px;
    font-size: large;
    background-color: #fff;
    color: #2E3B3E;
    border-radius: 22.5px;
}

.chatbot-gender-select button:hover {
width: 240px; /* Slightly larger width for a noticeable but subtle effect */
background-color: #007bff; /* Highlight with a smooth color change */
color: white; /* Change text color for contrast */
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Add a soft shadow */
}

#proceed-button{
    margin-top: 40px;
    padding: 25px;
    width: 192px;
    font-size: large;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #4b4949;
    border: #4b4949;
}   

/* Blurred Background Styling */
#blurry {
    position: absolute; /* Ensure it covers the entire parent div */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send it behind other elements */
    /* background: url('path-to-your-background-image.jpg') center/cover no-repeat; */
    filter: blur(10px); /* Apply the blur effect */
    opacity: 0.8; /* Optional: Adjust opacity for a subtle look */
  }

  
/* AI Assist */

assist-selection-section{
    padding: 1rem;
}

.button-group-assist button{
    width: 192px;
    height: 64px;
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    justify-content: flex-end;
    border: none;
    transition: all 0.4s ease-in-out;
}

.button-group-assist button:hover{
    width: 240px;
}

.dynamic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .dynamic-submit-button {
    margin-top: 10px;
    align-self: center; /* Center the button horizontally */
  }

.dynamic-textbox {
    margin-top: 10px;
    width: 100%;
    height: 128px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 22.5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .dynamic-submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 22.5px;
    background-color: #414141;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .dynamic-submit-button:hover {
    background-color: #646464;
  }
  
  /* Assist Result Section */
.assist-result-section {
    display: flex;
    flex-direction: row; /* Aligns children side by side */
    justify-content: space-between; /* Adds space between sections */
    gap: 20px; /* Adjusts spacing between the two sections */
    width: 100%;
    padding-top: inherit;
}
  
.preview-section,
.generated-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.preview-area {
  width: 100%;
  height: 192px;
  padding: 10px;
  border: 2px solid #007bff; /* Custom border color for preview */
  border-radius: 5px;
  background-color: #e6f7ff; /* Light blue background for preview */
  resize: none;
  font-size: 1rem;
  margin-top: 10px;
  display: none;
}

.generated-area {
  width: 100%;
  height: 192px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  resize: none;
  font-size: 1rem;
  margin-top: 10px;
}

.preview-section img#imagePreview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.generate-button, .copy-assist-button{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  width: 128px;
  height: 96px;
  font-size: large;
}

.generate-button:hover, .copy-assist-button:hover {
  background-color: #495057;
}

#btnAreaGeneration{
    width:fit-content;
    padding: 20px;
    display: flex;
    gap: 10px;
}
  
#imagePreview{
    height: max-content;
}

#textPreview{
    text-align: center;
    font-family: 'Inter', sans-serif;
    filter: opacity(0.6);
    font-size: 24px;
    font-style: oblique;  
    display: flex;
    padding-top: 60px;  
}

#uploadButton{
    
}